@{
    ViewData["Title"] = "Authorization";
}

<div style="margin-left: 40%;">
    <p style="font-weight:lighter; font-style:italic">(You are not authorized)</p>
    <div id="centerLayer">
        @using (Html.BeginForm("Show", "Home", new { id = "Global" }))
        {
            <table>
            <tr>
                <td></td>
                <td>Authorization needed :</td>
            </tr>
            <tr>
                <td>Login :    </td>
                <td>@Html.TextBox("Login", "", new { @placeholder = "Enter login" })</td>
            </tr>
            <tr>
                <td>Password : </td>
                <td>@Html.Password("Password", "", new { @placeholder = "Enter password" })</td>
            </tr>
            <tr><td><p></p></td><td></td></tr>
            <tr>
                <td><input type="submit" name="selector" value="Login as trader" /></td>
            </tr>
            <tr><td><p></p></td><td></td></tr>
            <tr>
                <td><input type="submit" name="selector" value="Login as admin" /></td>
            </tr>
        </table>
        }
    </div>
</div>
