<div class="messages">
    <div id="msgapp">
        <table>
            <tr v-for="message in items">
                <td>{{ message.Tag}} : {{message.Body}}</td>
            </tr>
        </table>
    </div>
</div>
